body {
  background-image: url("https://t4.ftcdn.net/jpg/02/04/58/57/240_F_204585727_W9mjxo86jTY1SOGZdFgFUxJi60pKlzJ7.jpg");
  background-size: cover;
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 24px;
  list-style: none;
}

p {
  text-align: center;
  font-size: 12px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.row {
  padding: 10px;
}

.weather-app {
  display: block;
  box-shadow: 1px 1px 15px pink;
  max-width: 490px;
  max-height: 590px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
}

.temperature {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -25px;
}

.weekly ul {
  text-align: center;
}

.daily {
  font-size: 22px;
}

.weeklyUnits {
  font-size: 12px;
  position: relative;
  top: -9px;
}

.searchButton,
.currentButton {
  color: pink;
}
