body {
  background-image: url(https://cdn.tutsplus.com/vector/uploads/legacy/qt/2012_QT/qt_69_space_background/space.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 0 0 1.5em white;
  color: #0011ff;
  font-family: "DotGothic16", cursive, monospace, Lucida Sans, sans-serif;
  line-height: 1;
}

ul {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 24px;
  list-style: none;
}

h3,
p {
  text-align: center;
  font-size: 14px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.row {
  padding: 15px;
}

.weather-app {
  display: block;
  box-shadow: 1px 1px 15px #a1dffb;
  max-width: 450px;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 8px;
}

.temperature {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -25px;
}

.weekly-forecast h3 {
  padding: 7px;
  font-size: 20px;
}

.weekly-forecast img {
  display: block;
  margin: 0 auto;
  height: 55px;
  width: 55px;
}

.weekly-forecast-temperature {
  text-align: center;
  height: auto;
  line-height: 1.5;
  white-space: nowrap;
}

.searchButton,
.currentButton {
  color: #00aeff;
  border-radius: 20px;
  background: transparent;
  transition: ease-in-out, 200ms, transparent;
}

.searchButton:hover {
  cursor: pointer;
  color: #a1dffb;
  background: transparent;
}

.currentButton:hover {
  cursor: pointer;
  color: #a1dffb;
  background: transparent;
}

.weatherIcon {
  margin-top: -55px;
  margin-bottom: -30px;
  margin-left: -23px;
}
